.graphic_generic_title_textbox_style_default {
    background: transparent;
    float: none;
    margin: 0px;
    opacity: 1.00;
}
a {
    color: #999999;
    text-decoration: underline;
}
a:visited {
    color: #666666;
    text-decoration: underline;
}
a:hover {
    color: #ff1508;
    text-decoration: underline;
}
ol {
    list-style-image: none;
    list-style-position: inside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
}
.Bullet {    border: none;
    text-decoration: none;
}
div {
    overflow: visible;
}
img {
    border: none;
}
.InlineBlock {display: inline; }
.InlineBlock {display: inline-block; }
.tinyText {
    font-size: 1px;
}
