<h1>Editing asset</h1>

<% form_tag(asset_url(:action => 'update', :title => @asset.name), :multipart => true) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @asset %> |
<%= link_to 'Back', :action => 'list' %>
