<h1>Forgot Password</h1>

<% form_tag url_for(:action => 'forgot_password') do %>
		<p><label for="email">What is the email address used to create your account?</label><br/>
    <%= text_field_tag :email, "", :size => 50 %></p>
    <%= submit_tag 'Request Password' %>
<% end %>